.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 30px;

    .loginLogo{

        img{
            object-fit: cover;
            height: 150px;
        }
    }

    button {
        width: 200px;
        height: 60px;
        background-color: #738abd;
        color: #eff2f5;
        font-weight: 800;
        border-radius: 8px;

        &:hover {
            background-color:aqua;
            color: #738abd;
        }
    }
}